@charset "UTF-8";
@font-face {
  font-family: "Brooklyn";
  src: url("type/filename.eot");
  src: local("☺"), url("webfonts/Brooklyn-Bold.woff") format("woff"), url("webfonts/Brooklyn-Bold.otf") format("embedded-opentype"), url("webfonts/Brooklyn-Bold.svg#filename") format("svg");
}
/* line 21, style.scss */
html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  background-color: #141947;
  color: #BDE5EC;
  font-family: "ff-more-web-pro", Georgia, sans-serif;
}

/* line 29, style.scss */
a {
  color: inherit;
}
/* line 31, style.scss */
a:hover {
  color: #3EAEE3;
}

/* line 35, style.scss */
ul {
  list-style-type: none;
  padding: 0 20px;
}

/* line 65, style.scss */
#masthead {
  background-color: #6DCCDF;
  height: 90vh;
  position: relative;
  border-top: 1px solid transparent;
}
/* line 71, style.scss */
#masthead h1 {
  text-align: center;
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  color: #BDE5EC;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: absolute;
  top: 40vh;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 83, style.scss */
#masthead h1 a {
  text-decoration: none;
}
/* line 85, style.scss */
#masthead h1 a:hover {
  color: white;
}
/* line 91, style.scss */
#masthead .triangle {
  position: absolute;
  bottom: 27px;
  width: 261px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: ICEBERG 60s 1 ease-in-out;
}
@-webkit-keyframes ICEBERG {
  0% {
    left: 10px;
  }
  100% {
    left: 100px;
  }
}
/* line 107, style.scss */
#masthead .gradient-piece {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 114, style.scss */
#masthead .gradient-1 {
  background-color: #3EAEE3;
  height: 30px;
}
/* line 118, style.scss */
#masthead .gradient-2 {
  background-color: #2C5EAC;
  height: 20px;
}
/* line 122, style.scss */
#masthead .gradient-3 {
  background-color: #253270;
  height: 10px;
}

/* line 128, style.scss */
.section-label {
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 1px;
  color: #2C5EAC;
  padding: 10px;
  border-bottom: 1px dashed #2C5EAC;
  text-transform: uppercase;
}

/* line 137, style.scss */
.other-page-title {
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  color: #2C5EAC;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}
/* line 145, style.scss */
.other-page-title a {
  text-decoration: none;
}
/* line 149, style.scss */
.other-page-title span {
  border: 1px solid #2C5EAC;
  padding: 20px 40px;
  position: relative;
  display: inline-block;
}
/* line 155, style.scss */
.other-page-title span:after {
  content: "";
  position: absolute;
  height: 101px;
  top: 100%;
  left: 50%;
  border-left: 1px solid #2C5EAC;
}

/* line 167, style.scss */
#content {
  width: 90%;
  max-width: 1125px;
  margin: 100px auto 0 auto;
  color: #BDE5EC;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}
/* line 176, style.scss */
#content aside {
  border: 1px solid #2C5EAC;
  width: 30%;
  position: relative;
  height: 400px;
  box-sizing: border-box;
  vertical-align: top;
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.3;
}
/* line 185, style.scss */
#content aside p {
  color: #BDE5EC;
  padding: 10px;
  margin-top: 0;
}
/* line 191, style.scss */
#content aside .about-link {
  padding: 10px;
}
/* line 195, style.scss */
#content aside .twitter-link {
  color: #BDE5EC;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 205, style.scss */
#primary {
  font-size: 1rem;
  position: relative;
  width: 70%;
  margin: 0;
  box-sizing: border-box;
}

/* line 213, style.scss */
article {
  border: 1px solid #2C5EAC;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: -1px;
  margin-bottom: 200px;
}
/* line 221, style.scss */
article:after {
  content: "—";
  position: absolute;
  bottom: -120px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  color: #2C5EAC;
}
/* line 232, style.scss */
article div {
  box-sizing: border-box;
}
/* line 238, style.scss */
article .tags,
article .link-title {
  width: 30%;
}
/* line 243, style.scss */
article .title,
article .embed {
  width: 70%;
}
/* line 248, style.scss */
article .subtitle,
article .entry-content,
article .meta {
  width: 100%;
}
/* line 254, style.scss */
article .section-label,
article .embed {
  border-top: 1px solid #2C5EAC;
}
/* line 259, style.scss */
article .tags,
article .embed {
  border-left: 1px solid #2C5EAC;
}
/* line 264, style.scss */
article .tags,
article .title {
  min-height: 300px;
}
/* line 266, style.scss */
article .tags .section-label,
article .title .section-label {
  border-top: none;
}
/* line 273, style.scss */
article .meta li {
  display: inline-block;
  color: white;
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.3;
  margin-right: 10px;
}
/* line 283, style.scss */
article .title h2 {
  font-family: "Brooklyn", Georgia, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 0.9;
  margin: 0 0 50px 0;
  padding: 20px;
}
/* line 290, style.scss */
article .subtitle h3 {
  font-family: "ff-more-web-pro", Georgia, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.3;
  margin: 0;
  padding: 20px;
}
/* line 297, style.scss */
article .entry-content .section-label {
  margin-bottom: 20px;
}
/* line 300, style.scss */
article .entry-content p {
  font-family: "ff-more-web-pro", Georgia, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.7;
  margin: 10px 20px 0 20px;
  text-indent: 1em;
}
/* line 304, style.scss */
article .entry-content p:last-of-type {
  margin-bottom: 20px;
}
/* line 309, style.scss */
article .tags {
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.3;
  color: white;
}
/* line 313, style.scss */
article .link-title {
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.3;
  color: white;
}
/* line 317, style.scss */
article .link-title a {
  padding: 20px;
  display: block;
}
/* line 324, style.scss */
article .embed {
  padding: 5px;
}
/* line 326, style.scss */
article .embed iframe,
article .embed blockquote,
article .embed img {
  width: 100%;
}
/* line 331, style.scss */
article .embed blockquote {
  margin: 0;
  padding: 20px 20px 20px 30px;
  box-sizing: border-box;
  font-family: "ff-more-web-pro", Georgia, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.3;
  font-style: italic;
  text-indent: -.4em;
  color: #2C5EAC;
}
/* line 340, style.scss */
article .embed .video-placeholder {
  width: 100%;
  padding-bottom: 56.25%;
  background-color: black;
}
/* line 345, style.scss */
article .embed .generic-link-out {
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}
/* line 351, style.scss */
article .embed .generic-link-out:hover svg path {
  fill: #3EAEE3;
}
/* line 355, style.scss */
article .embed .generic-link-out > div {
  font-size: 3em;
  position: absolute;
  width: 121px;
  height: 1em;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 363, style.scss */
article .embed .generic-link-out > div svg {
  width: 55px;
  vertical-align: middle;
  display: inline;
}
/* line 364, style.scss */
article .embed .generic-link-out > div svg path {
  fill: #BDE5EC;
}

/* line 376, style.scss */
.pagination {
  width: 100%;
  margin-top: 300px;
}
/* line 380, style.scss */
.pagination .nav-previous,
.pagination .nav-next {
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  padding: 10px;
  border: 1px solid #2C5EAC;
  color: #2C5EAC;
}
/* line 386, style.scss */
.pagination .nav-previous a,
.pagination .nav-next a {
  text-decoration: none;
}
/* line 391, style.scss */
.pagination .nav-previous {
  float: right;
}
/* line 394, style.scss */
.pagination .nav-next {
  float: left;
}

/* line 399, style.scss */
.site-footer {
  background-color: black;
  min-height: 100vh;
  margin-top: 100px;
  background: linear-gradient(#141947, black);
}

/* line 408, style.scss */
.page-content {
  width: 100%;
}

/* line 412, style.scss */
#page-main {
  border: 1px solid #2C5EAC;
  width: 100%;
}
/* line 416, style.scss */
#page-main article {
  border: none;
  margin: 40px 0;
}
/* line 420, style.scss */
#page-main article p {
  text-indent: 0;
  padding-left: 20px;
}
/* line 425, style.scss */
#page-main article a {
  text-decoration: none;
  font-style: italic;
}
/* line 429, style.scss */
#page-main article a:hover {
  text-decoration: underline;
}
/* line 434, style.scss */
#page-main article:after {
  display: none;
}
/* line 439, style.scss */
#page-main hr {
  border: none;
  border-top: 1px solid #2C5EAC;
}

/* line 448, style.scss */
#about-page #page-main {
  display: flex;
  flex-wrap: wrap;
}
/* line 452, style.scss */
#about-page .about-text {
  width: 70%;
  border-right: 1px solid #2C5EAC;
  box-sizing: border-box;
}
/* line 457, style.scss */
#about-page .about-text p {
  font-family: "ff-more-web-pro", Georgia, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.4;
  margin: 0 20px;
}
/* line 463, style.scss */
#about-page .social {
  width: 30%;
}
/* line 466, style.scss */
#about-page .colophon {
  width: 100%;
  border-top: 1px solid #2C5EAC;
}
/* line 470, style.scss */
#about-page .social,
#about-page .colophon {
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0;
}
/* line 475, style.scss */
#about-page .social p,
#about-page .colophon p {
  margin: 20px;
}

/* line 483, style.scss */
.error404 #primary {
  width: 100%;
}
/* line 486, style.scss */
.error404 #content {
  text-align: center;
}
/* line 489, style.scss */
.error404 #content h1 {
  font-family: "ff-more-web-pro", Georgia, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 1;
}

@media (max-width: 900px) {
  /* line 498, style.scss */
  #content aside {
    width: 100%;
    margin-bottom: 100px;
    height: auto;
  }
  /* line 503, style.scss */
  #content aside .twitter-link {
    position: static;
    margin-top: 1.3em;
    display: block;
  }
  /* line 509, style.scss */
  .archive #content aside, .tag #content aside {
    display: none;
  }

  /* line 515, style.scss */
  #primary {
    width: 100%;
  }

  /* line 519, style.scss */
  article {
    left: 0;
  }
  /* line 522, style.scss */
  article .title h2 {
    font-size: 60px;
  }
}
@media (max-width: 800px) {
  /* line 529, style.scss */
  #about-page .about-text,
  #about-page .social {
    width: 100%;
    border-right: none;
  }

  /* line 535, style.scss */
  #about-page .social {
    border-top: 1px solid #2C5EAC;
  }
}
@media (max-width: 500px) {
  /* line 542, style.scss */
  article .tags,
  article .title,
  article .embed,
  article .link-title {
    width: 100%;
  }
  /* line 549, style.scss */
  article .title {
    min-height: 0;
  }
  /* line 553, style.scss */
  article .tags {
    border-top: 1px solid #2C5EAC;
    min-height: 0;
  }
  /* line 558, style.scss */
  article .tags,
  article .embed {
    border-left: none;
  }
}
