//Brooklyn
@font-face {
  font-family: "Brooklyn";
  src: url("type/filename.eot");
  src: local("☺"),
    url("webfonts/Brooklyn-Bold.woff") format("woff"),
    url("webfonts/Brooklyn-Bold.otf") format("embedded-opentype"),
    url("webfonts/Brooklyn-Bold.svg#filename") format("svg");
  }

//dark
$blue-0: #141947;
$blue-1: #253270;
$blue-2: #2C5EAC;
$blue-3: #3EAEE3;
$blue-4: #6DCCDF;
$blue-5: #BDE5EC;
//light
$highlight: #FFF5A0;

//resets
html, body {
    margin: 0; padding: 0;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    background-color: $blue-0;
    color: $blue-5;
    font-family: "ff-more-web-pro", Georgia, sans-serif;
}
a {
    color: inherit;
    &:hover {
        color: $blue-3;
    }
}
ul {
    list-style-type: none;
    padding: 0 20px;
}
* {
    box-sizing: border-box;
}

//type includes
@mixin input-sans($size, $line-height) {
  font-family: "Input Sans Narr Lt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $line-height;
}

@mixin brooklyn($size, $line-height) {
  font-family: "Brooklyn", Georgia, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $line-height;
}

@mixin more($size, $line-height) {
    font-family: "ff-more-web-pro", Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: $size;
    line-height: $line-height;
}

//Other Pages
@import "single";

#masthead {
    background-color: $blue-4;
    height: 40vh;
    position: relative;
    border-top: 1px solid transparent;

    h1 {
        text-align: center;
        @include input-sans(24px, 1);
        color: $blue-5;
        text-transform: uppercase;
        letter-spacing: 10px;
        position:absolute;
        top: 15vh;
        left: 0;
        right: 0;
        margin: auto;

        &.error-page-title {
            @include more(24px, 1);
            letter-spacing: 0;
            text-transform: none;
        }

        a {
            text-decoration: none;
            &:hover {
                color: white;
            }
        }
    }

    .triangle {
        position: absolute;
        bottom: 27px;
        width: 261px;
        left: 0;
        right: 0;
        margin: auto;

        -webkit-animation: ICEBERG 60s 1 ease-in-out;
    }

    @-webkit-keyframes ICEBERG {
        0% { left: 10px; }
        100% { left: 100px; }
    }

    .gradient-piece {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .gradient-1 {
        background-color: $blue-3;
        height: 30px;
    }
    .gradient-2 {
        background-color: $blue-2;
        height: 20px;
    }
    .gradient-3 {
        background-color: $blue-1;
        height: 10px;
    }
}

.section-label {
    @include input-sans(15px, 1);
    letter-spacing: 1px;
    color: $blue-2;
    padding: 10px;
    border-bottom: 1px dashed $blue-2;
    text-transform: uppercase;
}

.other-page-title {
    @include input-sans(20px, 1);
    letter-spacing: 1px;
    color: $blue-2;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;

    a {
        text-decoration: none;
    }

    span {
        border: 1px solid $blue-2;
        padding: 20px 40px;
        position: relative;
        display: inline-block;

        &:after {
            content: "";
            position: absolute;
            height: 101px;
            top: 100%;
            left: 50%;
            border-left: 1px solid $blue-2;
        }
    }

}

#content {
    width: 90%;
    max-width: 1125px;
    margin: 100px auto 0 auto;
    color: $blue-5;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;

    #secondary {
        width: 29%;
        position: relative;
        margin-right: 1%;
    }

    aside {
        border: 1px solid $blue-2;
        border-top: none;
        height: 300px;
        box-sizing: border-box;
        vertical-align: top;
        position: relative;
        @include input-sans(15px, 1.3);

        &:first-child {
            border-top: 1px solid $blue-2;
        }

        &.newsletter {
            height: auto;
        }

        .content {
            padding: 10px;
        }

        p {
            color: $blue-5;
            margin-top: 0;
        }

        .mc-field-group {
            margin-top: 50px;
            display: flex;
            align-items: flex-end;

            input {
                height: 2em;
            }
        }

        input.email {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid $blue-2;
            background: none;
            padding: 2px;
            @include input-sans(14px, 1);
            color: $blue-2;
            font-style: normal;

            &:focus {
                outline: none;
                border-bottom: 2px solid white;
            }

            &::-webkit-input-placeholder {
                font-style: italic !important;
                color: $blue-2 !important;
            }
        }

        input.button {
            border: 1px solid $blue-2;
            background: none;
            @include input-sans(14px, 1);
            color: $blue-2;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                background-color: $blue-2;
                color: white;
            }
        }
    }
}

#primary {
    font-size: 1rem;
    position: relative;
    width: 70%;
    margin: 0;
    box-sizing: border-box;
}

article {
    border: 1px solid $blue-2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 200px;

    &:after {
        content: "—";
        position: absolute;
        bottom: -120px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 30px;
        color: white;
    }

    div {
        box-sizing: border-box;
    }

    //layout & borders

    .tags,
    .link-title {
        width: 30%;
    }

    .title,
    .embed {
        width: 70%;
    }

    .subtitle,
    .entry-content,
    .meta {
        width: 100%;
    }

    .section-label,
    .embed {
        border-top: 1px solid $blue-2;
    }

    .tags,
    .embed {
        border-left: 1px solid $blue-2;
    }

    .tags,
    .title {
        .section-label {
            border-top: none;
        }
        min-height: 300px;
    }

    .meta {
        li {
            display: inline-block;
            color: white;
            @include input-sans(15px, 1.3);
            margin-right: 10px;
        }
    }

    //typography
    .title {
        a {
            text-decoration: none;
        }
        h2 {
            @include brooklyn(80px, .9);
            margin: 0 0 50px 0;
            padding: 20px;
        }
    }
    .subtitle {
        h3 {
            @include more(24px, 1.3);
            margin: 0;
            padding: 20px;
        }
    }
    .entry-content {
        .section-label {
            margin-bottom: 20px;
        }
        p {
            @include more(20px, 1.7);
            margin: 10px 20px 0 20px;
            text-indent: 1em;
            &:last-of-type {
                margin-bottom: 20px;
            }
        }
    }
    .tags {
        @include input-sans(15px, 1.3);
        color: white;
    }
    .link-title {
        @include input-sans(15px, 1.3);
        color: white;

        a {
            padding: 20px;
            display: block;
        }
    }

    //other?
    .embed {
        padding: 5px;
        
        a {
            text-decoration: none;
        }
        iframe,
        blockquote,
        img {
            width: 100%;
        }
        // img {
        //     filter: grayscale(100%);
        //     -webkit-filter: grayscale(100%);
        // }
        blockquote {
            margin: 0;
            padding: 20px 20px 20px 30px;
            box-sizing: border-box;
            @include more(2em, 1.3);
            font-style: italic;
            text-indent: -.4em;
            color: $blue-2;
        }
        .video-placeholder {
            width: 100%;
            padding-bottom: 56.25%;
            background-color: black;
        }
        .generic-link-out {
            display: block;
            width: 100%;
            padding-bottom: 56.25%;
            position: relative;

            &:hover svg path {
                fill: $blue-3;
            }

            & > div {
                font-size: 3em;
                position: absolute;
                width: 121px;
                height: 1em;
                margin: auto;
                top: 0; left: 0; right: 0; bottom: 0;

                svg {
                    path {
                        fill: white;
                    }
                    width: 55px;
                    vertical-align: middle;
                    display: inline;
                }
            }
        }
    }
}

.pagination {
    width: 100%;
    margin-top: 300px;

    .nav-previous,
    .nav-next {
        @include input-sans(16px, 1);
        padding: 10px;
        border: 1px solid $blue-2;
        color: $blue-2;
        a {
            text-decoration: none;
        }
    }

    .nav-previous {
        float: right;
    }
    .nav-next {
        float: left;
    }
}

.site-footer {
    background-color: black;
    min-height: 100vh;
    margin-top: 100px;
    background: linear-gradient($blue-0, black);
}

//PAGES (generic)

.page-content {
    width: 100%;
}

#page-main {
    border: 1px solid $blue-2;
    width: 100%;

    article {
        border: none;
        margin: 40px 0;

        p {
            text-indent: 0;
            padding-left: 20px;
        }

        a {
            text-decoration: none;
            font-style: italic;

            &:hover {
                text-decoration: underline;
            }
        }

        &:after {
            display: none;
        }
    }

    hr {
        border: none;
        border-top: 1px solid $blue-2;
    }
}

//PAGES (about)

#about-page {
    #page-main {
        display: flex;
        flex-wrap: wrap;
    }
    .about-text {
        width: 70%;
        border-right: 1px solid $blue-2;
        box-sizing: border-box;

        p {
            @include more(25px, 1.4);
            margin: 0 20px;
            // max-width: 25em;
        }
    }
    .social {
        width: 30%;
    }
    .colophon {
        width: 100%;
        border-top: 1px solid $blue-2;
    }
    .social,
    .colophon {
        @include input-sans(14px, 1.3);
        letter-spacing: 0;

        p {
            margin: 20px;
        }
    }
}

//ERRORS!
.error404 {
    #primary {
        width: 500px;
        margin: 0 auto;
    }
    #content {
        text-align: center;
        position: relative;

        h1 {
            @include more(45px, 1);
        }
    }
}

//MEDIA QUERIES

@media (max-width: 900px) {
    #content #secondary {
        width: 100%;
        margin-bottom: 100px;
        height: auto;

        .follow-link {
            position: static;
            margin-top: 1.3em;
            display: block;
            padding: 0;
        }

        .archive &,
        .tag & {
            display: none;
        }
    }

    #primary {
        width: 100%;
    }

    article {
        left: 0;

        .title h2 {
            font-size: 60px;
        }
    }
}

@media (max-width: 800px) {
    #about-page .about-text,
    #about-page .social {
        width: 100%;
        border-right: none;
    }

    #about-page .social {
        border-top: 1px solid $blue-2;
    }
}

@media (max-width: 600px) {
    article .title h2 {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    article {
        .tags,
        .title,
        .embed,
        .link-title {
            width: 100%;
        }

        .title {
            min-height: 0;
        }

        .tags {
            border-top: 1px solid $blue-2;
            min-height: 0;
        }

        .tags,
        .embed {
            border-left: none;
        }
    }
}

@media (max-width: 320px) {
    article .title h2 {
        font-size: 45px;
    }
}
